.settings__setting {
    padding: 25px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    font-size: 18px;
    display: flex;
    align-items: center;
}

.settings__setting i {
    opacity: 0.8;
    margin-right: 20px;
    font-size: 22px;
}

.settings__setting__subtext {
    margin-left: auto;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5)
}

.settings-list {
    margin-bottom: 40px;
}

.settings__setting__no-border-bottom{
    border-bottom: none;
}

.horizon-border {
    width: 100%;
    height: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: -25px;
}