.screen-header {
    display: flex;
    justify-content: space-between;
    padding: 48px var(--horizontal-space);
    padding-bottom: 22px;
    align-items: center;
    margin-bottom: 15px;
}

.screen-header__title {
    font-size: 27px;
    font-weight: 600;
}

.screen-header__icons span {
    margin-left: 28px;
}